name: Generate SDK from Spec

on:
  workflow_dispatch:
    inputs:
      force:
        description: "Force SDK regeneration"
        required: false
        default: "false"
        type: string
      feature_branch:
        description: "Branch for SDK changes"
        required: false
        type: string
      environment:
        description: "Environment variables (e.g., tag=branch-name)"
        required: false
        type: string
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write
  pull-requests: write
  checks: write
  statuses: write

jobs:
  generate:
    uses: speakeasy-api/sdk-generation-action/.github/workflows/workflow-executor.yaml@v15
    with:
      mode: pr
      force: ${{ inputs.force || 'false' }}
      feature_branch: ${{ inputs.feature_branch }}
      environment: ${{ inputs.environment }}
    secrets:
      github_access_token: ${{ secrets.GITHUB_TOKEN }}
      speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
